
body{
    background-color:  #ecebeb;
    color:#333;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:normal;
    line-height:1.6em;
    margin:0;
}

.container{
    width: 80%;
    margin:auto;
}

.first-half{
    display:flex;
    align-items:left;
    justify-content:left;
    flex-basis:190px;
}
#profile-photo {
    border: 2px black solid;
    display:flex;
    margin: 20px;
    width: auto;
    height:auto;
}


#name{
    font-family:Tahoma;
    font-weight:800;
    font-style:bold;
    color:black;
}

.icons{
    margin:20px 20px; 
}

#li1{
    list-style-image: url(../images/home.png);
}
#li2{
    list-style-image: url(../images/email.png);
}
#li3{
    list-style-image: url(../images/phone.png);
}
#li4{
    list-style-image: url(../images/global.png);
}

.details li{
    padding-bottom:5px;
    border-bottom:dotted 1px #333;
}

.sub-heading{
    margin:0 20px;
    color:#000;
}

#para{
    margin:0 20px;
    padding:10px 10px;
}
.horizontal{
    display:flex;
    align-items:left;
    justify-content:left;
    padding:0 20px;
    margin-right:20px;
}

.vertical{
    display:flex;
    align-items:left;
    justify-content:left;
    flex-direction: column;
    padding:0 20px;
}

#language-box{
    border:solid #000 1px;
    border-radius:15px ;
    margin:5px;
    background-color: #fff;
}

.my-form{
    margin-left: 15%;
    width:50%;
}

.my-form .form-group{
    padding-bottom:15px;
    border:0;
}

.my-form label{
    display:block;
}

.my-form input[type="text"], .my-form textarea{
    padding:5px;
    width:70%;
    border-radius: 10px;
    border:0;
    background-color: #fff;
    
}

.button{
    background-color:#555;
    color:#fff;
    padding:5px 25px;
    margin-left:25%;
    margin-bottom:20px;
    border:none;
    border-radius:5px;
}

.button:hover{
    background:red;
    color:#fff;
}

.message-box{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    padding:0 20px;
}